.App {
  background-color: #f3efdb;
  min-height: 100vh;
  top: 0;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}


h1{
  color: blue;
}


/* general  */

.flex{
  display: flex;
  gap: var(--gap, 1rem);
}